* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f8f9fa;
  font-family: Roboto;
  color: #1d1d1d;
  font-size: 15px;
}

select {
  background-color: #c1c1c1;
  color: black;
  padding: 9px;
  border: none;
  border-radius: 0px 5px 0px 5px;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #1e1a1b;
}

.main {
  flex: 1 0 auto;
  padding: 60px 60px 60px 60px;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #1e1a1b;
}

.footer,
.push {
  background-color: #e7e9eb;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.hr-footer {
  width: 50%;
  border: 1px solid #c1c1c1;
  text-align: center;
}

.meniu {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 40px;
}

.meniu-left {
  flex: 50%;
  text-align: left;
}

.meniu-right {
  flex: 50%;
  text-align: right;
}

.text-white {
  flex: 1;
  color: #f8f9fa;
  text-align: center;
}

.btn-add {
  background-color: #c1c1c1;
  color: #000;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 0px 5px 0px 5px;
}

.btn-update {
  background-color: #c1c1c1;
  color: #1d1d1d;
  border: none;
  margin-bottom: 3px;
  width: 60px;
  height: 30px;
  border-radius: 0px 5px 0px 5px;
}

.btn-delete {
  background-color: #c1c1c1;
  color: #1d1d1d;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 0px 5px 0px 5px;
}
.btn-add:hover {
  background-color: #1e1a1b;
  color: #ffffff;
  opacity: 0.8;
}
.btn-update:hover {
  background-color: #1e1a1b;
  color: #ffffff;
  opacity: 0.8;
}
.btn-delete:hover {
  background-color: #ef4c2d;
  color: #ffffff;
}
.btn-close:hover {
  background-color: #ef4c2d;
}

.search {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #1d1d1d;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 0px 5px 0px 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tr {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #e7e9eb;
}
th {
  border-bottom: 1px solid #1d1d1d;
  text-align: left;
}
tr:hover {
  background-color: #dadada;
}

@media (max-width: 800px) {
  .meniu-right,
  .meniu-left {
    flex: 100%;
    margin: 5px 0px 5px 0px;
    text-align: center;
  }
  .btn-add {
    margin: 5px 0px 5px 0px;
  }
}
